@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #3772FF;
  --font-sans: 'Poppins', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #3772FF;
    --font-sans: 'Poppins', sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.card {
  width: 170px;
  height: 48px;
}

.selectedmenu {
  color: var(--primary);
  font-weight: 500; /* Matches font-medium */
  border-width: 2px;
  border-color: var(--primary);
  border-radius: 0.5rem; /* Matches rounded-lg */
}